[user]
	name = giovanism
	email = giovanmail@gmail.com
	signingkey = B8C26D20D1BF81E113708ABAA16DB41E6706C8E4

[core]
	editor = nvim
	pager = less -iXFR

[credential]
	helper = cache --timeout 7200

[commit]
	gpgsign = true
[color "diff"]
	whitespace = red reverse
